{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href="{% static 'appportfolio/css/bootstrap.css' %}">
  <link rel='stylesheet' href="{% static 'appportfolio/css/custom.css' %}">
  <meta charset="UTF-8">
  <title>Rayn S.</title>
</head>
<body>
  <div class='linksidebar'>
    <div class='linkbutton'>
      <p></p>
      <p><strong><a class='btn btn-default' style="width: 90%; padding: 5px;" href="{% url 'indexview' %}">Index</a></strong></p>
      <p><a style="width: 90%; padding: 5px;" class='btn btn-default' href="{% url 'portfolioview' %}">Portfolio</a></p>
      <p><a style="width: 90%; padding: 5px;" class='btn btn-default' href="{% static 'resume.rtf' %}">Resume</a></p>
    </div>
  </div>
  {% block bodycontent %}
  {% endblock %}
</body>
</html>
