{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href="{% static 'appportfolio/css/bootstrap.css' %}">
  <link rel='stylesheet' href="{% static 'appportfolio/css/custom.css' %}">
  <meta charset="UTF-8">
  <title>Rayn S.</title>
</head>
<body>
  <div class='linksidebar'>
    <div class='linkbutton'>
      <p></p>
      <p><a class='btn btn-default' href="">Home</a></p>
      <p><a class='btn btn-default' href="">Portfolio</a></p>
      <p><a class='btn btn-default' href="">Resume</a></p>
    </div>
  </div>
  {% block bodycontent %}
  {% endblock %}
</body>
</html>
