{% extends 'base.html' %}
{% load static %}

{% block bodycontent %}
  <div style='text-align: center;' class='portfoliocontent'>
    <h2 style='text-align: center; font-family: monospace;'>Some Examples Of Work</h2>
    <hr>
  <p><strong>Koquibilis</strong></p>
  <p><i>Food and recipe tracking web application.</i></p>
  <img style='border: 2px solid black; text-align: center;' width='50%' height='50%' src="{% static 'koquibilispreview.png' %}">
  <img style='border: 2px solid black; text-align: center;' width='50%' height='50%' src="{% static 'koquibilis.png' %}">
  <br>
  <a href="{{code1}}" class='btn btn-default'>Code</a>
  <a href="{{link1}}" class='btn btn-default'>Live</a>
  <hr>


  <p></p>
  <p><strong>Url Shortener</strong></p>
  <p><i>Small web application used to create shortened versions of urls.</i></p>
  <img style='border: 2px solid black;' height='50%' width='50%' src="{% static 'urlshortnerpreview.png' %}">
  <img style='border: 2px solid black;' height='50%' width='50%' src="{% static 'urlshortner.png' %}">
  <p><a class='btn btn-default' href="{{code2}}">Code</a></p>
  <hr>


  <p><strong>Catslist</strong></p>
  <p><i>A mock version of Craigslist</i></p>
  <img style='border: 2px solid black;' height='50%' width='50%' src="{% static 'catslistpreview.png' %}">
  <img style='border: 2px solid black;' height='50%' width='50%' src="{% static 'catslist.png' %}">
  <br>
  <a class='btn btn-default' href="{{code3}}">Code</a>
  <hr>


  </div>
{% endblock %}
